service npu_powerctrl_suspend vendor/bin/npu_powerctrl -s
    class core
    oneshot
    group system wakelock
    disabled
    seclabel u:r:npu_powerctrl:s0

service npu_powerctrl_resume vendor/bin/npu_powerctrl -r
    class core
    oneshot
    group system wakelock
    disabled
    seclabel u:r:npu_powerctrl:s0
